* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: white;
}

.main {
    display: flex;
    padding-top: 64px;
    justify-content: end;
    justify-content: center;
    gap: 55px;
}

.text {
    padding: 27px;
    font-size:19px;
}



.manufacturer {
    display: flex;
    width: 151px;
    height: 39px;
    color: black;
}

.model {
    display: flex;
    width: 151px;
    height: 39px;
    color: gray;
}

.generation {
    display: flex;
    width: 151px;
    height: 39px;
    color: gray;
}

.modification {
    display: flex;
    width: 151px;
    height: 39px;
    color: gray;
}

.body {
    display: flex;
    width: 151px;
    height: 39px;
    color: gray;
}

.btn {
    display: flex;
    padding-top: 29px;
    justify-content: center
}

.btntwo {
   display: flex;
   width: 232px;
   height: 40px;
   justify-content: center;
   align-items: center;
   background-color: orange;
   border-radius: 3px;
   color: white;
   border: none;
}